<!--Meta  start-->
<section id="meta-2" class="widget widget_meta  wow fadeInUp">
  <h2 class="widget-title">Meta</h2>
  <ul >
    <li ><a href="#">Site Admin</a></li>
    <li><a href="#">Log out</a></li>
    <li ><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
    <li ><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
    <li ><a href="#" title="">WordPress.org</a></li>
  </ul>
</section>

<!--Meta  end--> 

<!--Meta  start-->
<section id="meta-2" class="widget widget_meta  wow fadeInUp">
  <h2 class="widget-title">Text</h2>
  <p>Subscribe to our free newsletter to be in touch with our new articles. Subscribe to our free newsletter to be in touch with our new articles. Subscribe to our free newsletter to be in touch with our new articles.</p>
</section>

<!--Meta  end--> 

<!--Meta  start-->
<section id="meta-2" class="widget  wow fadeInUp">
  <h2 class="widget-title">custom menu</h2>
  <ul>
    <li><a href="#">Magzine</a></li>
    <li><a href="#">Bootstrap</a></li>
    <li><a href="#">CSS3</a></li>
    <li><a href="#">HTML5</a></li>
  </ul>
</section>

<!--Meta  end--> 