<!--portfolio page nav-->
<nav class="navigation posts-navigation  wow fadeInUp"  role="navigation">
	<!-- Pagination links -->
	<div class="pagination" align="center">
	Page: {{ paginator.page }} of {{ paginator.total_pages }} <br />
      <!-- button groups
      ================================================== -->
      <div class="btn-group">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="btn btn-outline-secondary" role="button">Previous</a>
		{% else %}
        <button class="btn btn-outline-secondary disabled" type="button">Previous</button>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="btn btn-outline-secondary" role="button">Next</a>
		{% else %}
        <button class="btn btn-outline-secondary disabled" type="button">Next</button>
		{% endif %}
      </div>
	</div>
</nav><!--/portfolio page nav-->