<li><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
<li><a href="http://facebook.com/TheDadsGaming" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="https://twitter.com/DadGamers" target="_blank"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://discord.dadsgaming.com" target="_blank"><i class="fab fa-discord"></i></a></li>
<li><a href="http://www.youtube.com/c/Dadsgaming" target="_blank"><i class="fab fa-youtube"></i></a></li>
<li><a href="https://www.twitch.tv/team/dadsgaming" target="_blank"><i class="fab fa-twitch"></i></a></li>
<li><a href="https://mixer.com/team/DadsGaming" target="_blank"><i class="fas fa-desktop"></i></a></li>
<li><a href="/technology/2017/05/26/dads-gaming-now-on-snapchat/"><i class="fab fa-snapchat-ghost"></i></a></li>
<li><a href="http://amazon.dadsgaming.com" target="_blank"><i class="fab fa-amazon"></i></a></li>
