{% include header.html %}

<!-- banner Page
    ==========================================-->

<div id="page-banner" style="background-image: url(/img/s-3.jpg">
  <div class="content wow fdeInUp" style="visibility: visible; animation-name: fdeInUp;">
    <div class="container">
      <h1>{{ page.type }} '{{ page.title }}'</h1>
    </div>
  </div>
</div>

<!--blog body-->
<div id="Blog-post">
  <div class="container">
    <div class="row">
      <!--blog posts container-->
      <div class="col-md-8 col-sm-12 single-post">


        {{ content }}


        <div class="clearfix"></div>

{% include pagination.html %}

      </div>
      <!--blog posts container-->

      <!--aside-->
      <aside class="col-md-4 col-sm-12">

        <!--Search-->
        <section class="widget widget_search wow fadeInUp">

        </section>
        <!--/Search-->

        <section class="widget widget_social sidebar  wow fadeInUp">
          <h2 class="widget-title">Social</h2>
		  <ul>
            {% include social.html %}
		  </ul>
        </section>

        <!--ad -->



		<!--ad end-->

        {% include categorybox.html %}

        {% include archivebox.html %}

        {% include recentpostbox.html %}

        <!--ad -->



		<!--ad end-->

        <!--Recent posts end-->

        <section class="widget widget_social sidebar  wow fadeInUp">
          <h2 class="widget-title">Social</h2>
		  <ul>
            {% include social.html %}
		  </ul>
        </section>

      </aside>
      <!--aside-->

      <div class="clearfix"></div>
    </div>
  </div>
</div>


{% include footer.html %}
